# Preprocesamiento y Análisis de Datos

En este cuaderno, encontrarás todo el código necesario para llevar a cabo un análisis exploratorio de datos con el propósito de caracterizarlos. También, evaluaremos el equilibrio del conjunto de datos y determinaremos el método más adecuado para preparar los datos y construir un modelo con la máxima eficiencia.

In [35]:
# Importar librerpias necesarias para ejecución del código
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.legend import Collection

#Clasificación
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score,f1_score
from sklearn.model_selection import train_test_split,GridSearchCV

## Dataset original

In [36]:
#Lectura de el archivo
archivo_train = 'train_data.csv'
archivo_test = 'test_data.csv'
data_train=pd.read_csv(archivo_train,sep=';')
data_test=pd.read_csv(archivo_test,sep=';')

In [37]:
data_train

,id_colaborador,id_ultimo_jefe,seniority,modalidad_trabajo,distancia_oficina,dias_baja_salud,genero,canal_reclutamiento,permanencia_promedio,fecha_nacimiento,salario,performance_score,psi_score,fecha_incorporacion,estado_civil,abandono_6meses
0,100247,102074.0,1,Híbrida,1.760,1,Mujer,Ferias & Networking,1,25/11/1999,140011,99.0,75,25/01/2018,Soltero,0
1,103355,102115.0,1,Híbrida,0.760,2,Hombre,Ferias & Networking,2,16/10/1996,182774,99.0,81,24/07/2021,Soltero,1
2,100669,102060.0,1,Híbrida,4.950,3,Mujer,Referidos,11,29/01/1971,682106,96.0,74,13/07/2016,Viudo,0
3,103760,102062.0,1,Híbrida,13.030,2,Hombre,Linkedin,2,28/04/1992,270232,96.0,82,21/07/2014,Soltero,1
4,100965,102062.0,1,Híbrida,13.045,2,Hombre,Linkedin,2,3/05/1992,266804,95.0,82,22/07/2014,Soltero,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2147,103567,102171.0,1,Presencial,1.965,8,Mujer,Portal Web,3,20/12/1976,281159,NaN,65,22/12/2023,Casado,1
2148,104098,102172.0,1,Presencial,0.805,12,Mujer,Linkedin,13,23/10/1976,460337,NaN,82,26/07/2023,Casado,1
2149,103987,102155.0,1,Presencial,1.625,1,Hombre,Portal Web,11,19/03/1972,633879,NaN,66,24/07/2023,Soltero,1
2150,103810,102141.0,1,Presencial,5.665,2,Hombre,Portal Web,6,7/04/1971,793977,NaN,80,31/08/2023,Casado,1
2151,102441,102171.0,1,Presencial,4.730,1,Hombre,Linkedin,9,31/01/1967,756101,NaN,85,13/12/2023,Casado,1

In [38]:
data_test

,id_colaborador,id_ultimo_jefe,seniority,modalidad_trabajo,distancia_oficina,dias_baja_salud,genero,canal_reclutamiento,permanencia_promedio,fecha_nacimiento,salario,performance_score,psi_score,fecha_incorporacion,estado_civil
0,100486,102115.0,1,Híbrida,0.795,2,Hombre,Ferias & Networking,2,19/01/1997,181654,99,81,24/07/2021,Soltero
1,103752,102074.0,1,Híbrida,1.715,1,Mujer,Ferias & Networking,1,20/08/1999,140986,97,75,27/01/2018,Soltero
2,103937,102150.0,1,Híbrida,2.375,1,Hombre,Portal Web,6,29/10/1984,406690,96,69,24/04/2022,Soltero
3,101744,102172.0,1,Híbrida,2.185,3,Hombre,Linkedin,3,9/11/1992,249107,95,73,23/05/2023,Casado
4,101037,102060.0,1,Híbrida,4.660,3,Hombre,Referidos,10,14/07/1969,698318,95,81,20/06/2015,Viudo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,103755,102161.0,1,Presencial,2.995,2,Mujer,Portal Web,16,23/02/1970,700814,90,69,11/11/2023,Soltero
2016,103976,102171.0,1,Presencial,2.775,0,Mujer,Portal Web,5,30/09/1970,677071,93,66,24/09/2023,Divorciado
2017,104115,102144.0,1,Presencial,3.990,1,Hombre,Portal Web,7,14/06/1970,876285,84,69,6/09/2023,Soltero
2018,103920,102152.0,1,Presencial,7.100,1,Mujer,Linkedin,8,30/05/1968,719102,91,75,8/11/2023,Soltero
2019,103151,102171.0,1,Presencial,2.695,3,Mujer,Referidos,18,27/05/1963,898994,89,82,24/08/2023,Casado

In [39]:
#Concatener data frame para realizar correspondencia
concat_data = pd.concat([data_train, data_test])
concat_data

,id_colaborador,id_ultimo_jefe,seniority,modalidad_trabajo,distancia_oficina,dias_baja_salud,genero,canal_reclutamiento,permanencia_promedio,fecha_nacimiento,salario,performance_score,psi_score,fecha_incorporacion,estado_civil,abandono_6meses
0,100247,102074.0,1,Híbrida,1.760,1,Mujer,Ferias & Networking,1,25/11/1999,140011,99.0,75,25/01/2018,Soltero,0.0
1,103355,102115.0,1,Híbrida,0.760,2,Hombre,Ferias & Networking,2,16/10/1996,182774,99.0,81,24/07/2021,Soltero,1.0
2,100669,102060.0,1,Híbrida,4.950,3,Mujer,Referidos,11,29/01/1971,682106,96.0,74,13/07/2016,Viudo,0.0
3,103760,102062.0,1,Híbrida,13.030,2,Hombre,Linkedin,2,28/04/1992,270232,96.0,82,21/07/2014,Soltero,1.0
4,100965,102062.0,1,Híbrida,13.045,2,Hombre,Linkedin,2,3/05/1992,266804,95.0,82,22/07/2014,Soltero,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,103755,102161.0,1,Presencial,2.995,2,Mujer,Portal Web,16,23/02/1970,700814,90.0,69,11/11/2023,Soltero,NaN
2016,103976,102171.0,1,Presencial,2.775,0,Mujer,Portal Web,5,30/09/1970,677071,93.0,66,24/09/2023,Divorciado,NaN
2017,104115,102144.0,1,Presencial,3.990,1,Hombre,Portal Web,7,14/06/1970,876285,84.0,69,6/09/2023,Soltero,NaN
2018,103920,102152.0,1,Presencial,7.100,1,Mujer,Linkedin,8,30/05/1968,719102,91.0,75,8/11/2023,Soltero,NaN
2019,103151,102171.0,1,Presencial,2.695,3,Mujer,Referidos,18,27/05/1963,898994,89.0,82,24/08/2023,Casado,NaN

In [40]:

label_encoder = LabelEncoder()

# Cambio a texto
concat_data["modalidad_trabajo"] = label_encoder.fit_transform(concat_data["modalidad_trabajo"])
concat_data["canal_reclutamiento"] = label_encoder.fit_transform(concat_data["canal_reclutamiento"])
concat_data["fecha_nacimiento"] = label_encoder.fit_transform(concat_data["fecha_nacimiento"])
concat_data["fecha_incorporacion"] = label_encoder.fit_transform(concat_data["fecha_incorporacion"])
concat_data["genero"] = label_encoder.fit_transform(concat_data["genero"])
concat_data["estado_civil"] = label_encoder.fit_transform(concat_data["estado_civil"])

#Guardar el nuevo conjunto de datos
concat_data.to_csv('train_test_encoding.csv', index=False)
concat_data

,id_colaborador,id_ultimo_jefe,seniority,modalidad_trabajo,distancia_oficina,dias_baja_salud,genero,canal_reclutamiento,permanencia_promedio,fecha_nacimiento,salario,performance_score,psi_score,fecha_incorporacion,estado_civil,abandono_6meses
0,100247,102074.0,1,0,1.760,1,1,0,1,2133,140011,99.0,75,1371,2,0.0
1,103355,102115.0,1,0,0.760,2,0,0,2,929,182774,99.0,81,1328,2,1.0
2,100669,102060.0,1,0,4.950,3,1,4,11,2496,682106,96.0,74,369,3,0.0
3,103760,102062.0,1,0,13.030,2,0,2,2,2420,270232,96.0,82,1084,2,1.0
4,100965,102062.0,1,0,13.045,2,0,2,2,2634,266804,95.0,82,1163,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,103755,102161.0,1,1,2.995,2,1,3,16,1826,700814,90.0,69,231,2,NaN
2016,103976,102171.0,1,1,2.775,0,1,3,5,2771,677071,93.0,66,1344,1,NaN
2017,104115,102144.0,1,1,3.990,1,0,3,7,655,876285,84.0,69,2179,2,NaN
2018,103920,102152.0,1,1,7.100,1,1,2,8,2721,719102,91.0,75,2358,2,NaN
2019,103151,102171.0,1,1,2.695,3,1,4,18,2307,898994,89.0,82,1339,0,NaN

In [41]:
import pandas as pd
import numpy as np

train = concat_data.iloc[:2152, :]
test = concat_data.iloc[2152:,:-1]

In [42]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2152 entries, 0 to 2151
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_colaborador        2152 non-null   int64
 1   id_ultimo_jefe        2061 non-null   float64
 2   seniority             2152 non-null   int64
 3   modalidad_trabajo     2152 non-null   int64
 4   distancia_oficina     2152 non-null   float64
 5   dias_baja_salud       2152 non-null   int64
 6   genero                2152 non-null   int64
 7   canal_reclutamiento   2152 non-null   int64
 8   permanencia_promedio  2152 non-null   int64
 9   fecha_nacimiento      2152 non-null   int64
 10  salario               2152 non-null   int64
 11  performance_score     2084 non-null   float64
 12  psi_score             2152 non-null   int64
 13  fecha_incorporacion   2152 non-null   int64
 14  estado_civil          2152 non-null   int64
 15  abandono_6meses       2152 non-null   float64
dtypes: float64(4), int64(12)
memory usage: 285.8 KB

In [43]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2020 entries, 0 to 2019
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_colaborador        2020 non-null   int64
 1   id_ultimo_jefe        1937 non-null   float64
 2   seniority             2020 non-null   int64
 3   modalidad_trabajo     2020 non-null   int64
 4   distancia_oficina     2020 non-null   float64
 5   dias_baja_salud       2020 non-null   int64
 6   genero                2020 non-null   int64
 7   canal_reclutamiento   2020 non-null   int64
 8   permanencia_promedio  2020 non-null   int64
 9   fecha_nacimiento      2020 non-null   int64
 10  salario               2020 non-null   int64
 11  performance_score     2020 non-null   float64
 12  psi_score             2020 non-null   int64
 13  fecha_incorporacion   2020 non-null   int64
 14  estado_civil          2020 non-null   int64
dtypes: float64(3), int64(12)
memory usage: 252.5 KB

In [44]:
def estadisticos_cont(num):
    
    #Se calcula describe
    estadisticos = num.describe().T
    
    #se añade la mediana
    estadisticos['median'] = num.median()
    
    #reordenas la mediana
    estadisticos = estadisticos.iloc[:,[0,1,8,2,3,4,5,6,7]]
    
    #devolvemos la funcion
    
    return(estadisticos)

In [45]:
#Analisis estadistico para las variables numericas
estadisticos_cont(train.select_dtypes('number'))

,count,mean,median,std,min,25%,50%,75%,max
id_colaborador,2152.0,102070.160781,102048.50,1210.999342,100001.00,101028.75000,102048.50,103135.50000,104171.00
id_ultimo_jefe,2061.0,102090.326055,102091.00,43.586010,102000.00,102054.00000,102091.00,102127.00000,102172.00
seniority,2152.0,1.042286,1.00,0.201288,1.00,1.00000,1.00,1.00000,2.00
modalidad_trabajo,2152.0,0.710967,1.00,0.453419,0.00,0.00000,1.00,1.00000,1.00
distancia_oficina,2152.0,3.111768,2.51,1.789050,0.12,1.81875,2.51,4.15125,21.05
dias_baja_salud,2152.0,2.709108,2.00,2.982975,0.00,1.00000,2.00,3.00000,35.00
genero,2152.0,0.491171,0.00,0.500038,0.00,0.00000,0.00,1.00000,1.00
canal_reclutamiento,2152.0,2.471190,3.00,1.205175,0.00,2.00000,3.00,3.00000,4.00
permanencia_promedio,2152.0,6.644981,6.00,4.283794,1.00,3.00000,6.00,9.00000,25.00
fecha_nacimiento,2152.0,1783.551580,1786.50,1034.695575,1.00,893.50000,1786.50,2696.50000,3571.00
salario,2152.0,457021.147305,373422.50,302943.505466,76521.00,260439.75000,373422.50,674193.00000,1900000.00
performance_score,2084.0,63.472169,65.00,23.110594,5.00,42.00000,65.00,90.00000,99.00
psi_score,2152.0,75.286245,75.00,6.050987,58.00,71.00000,75.00,79.00000,98.00
fecha_incorporacion,2152.0,1206.664963,1189.00,699.789814,0.00,603.50000,1189.00,1808.75000,2438.00
estado_civil,2152.0,1.202602,2.00,1.046938,0.00,0.00000,2.00,2.00000,3.00
abandono_6meses,2152.0,0.466078,0.00,0.498964,0.00,0.00000,0.00,1.00000,1.00

In [46]:
#Analisis estadistico para las variables numericas
estadisticos_cont(test.select_dtypes('number'))

,count,mean,median,std,min,25%,50%,75%,max
id_colaborador,2020.0,102103.807921,102117.5000,1197.751058,100000.00,101071.250,102117.5000,103126.25,104172.000
id_ultimo_jefe,1937.0,102089.646877,102089.0000,43.691244,102000.00,102052.000,102089.0000,102126.00,102172.000
seniority,2020.0,1.041089,1.0000,0.198545,1.00,1.000,1.0000,1.00,2.000
modalidad_trabajo,2020.0,0.697030,1.0000,0.459656,0.00,0.000,1.0000,1.00,1.000
distancia_oficina,2020.0,3.059394,2.5425,1.637131,0.11,1.805,2.5425,4.00,14.045
dias_baja_salud,2020.0,2.662376,2.0000,2.817351,0.00,1.000,2.0000,3.00,23.000
genero,2020.0,0.513366,1.0000,0.499945,0.00,0.000,1.0000,1.00,1.000
canal_reclutamiento,2020.0,2.462376,3.0000,1.202635,0.00,2.000,3.0000,3.00,4.000
permanencia_promedio,2020.0,6.713366,6.0000,4.307580,1.00,3.000,6.0000,9.00,27.000
fecha_nacimiento,2020.0,1769.464851,1761.5000,1024.398995,0.00,871.750,1761.5000,2636.25,3570.000
salario,2020.0,463823.566337,374720.0000,306360.096015,75517.00,266311.000,374720.0000,676307.50,1900000.000
performance_score,2020.0,89.146040,90.0000,4.851837,80.00,85.000,90.0000,92.00,99.000
psi_score,2020.0,75.445050,76.0000,6.009440,58.00,71.000,76.0000,79.00,98.000
fecha_incorporacion,2020.0,1218.755446,1231.5000,695.545679,1.00,610.500,1231.5000,1798.25,2440.000
estado_civil,2020.0,1.200000,1.0000,1.058282,0.00,0.000,1.0000,2.00,3.000

In [47]:
#Reemplazo las celdas nulas por la mediana de la caracteristica
train['id_ultimo_jefe'] = train['id_ultimo_jefe'].fillna('102091.00')
train['performance_score'] = train['performance_score'].fillna('65.00')
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2152 entries, 0 to 2151
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_colaborador        2152 non-null   int64
 1   id_ultimo_jefe        2152 non-null   object
 2   seniority             2152 non-null   int64
 3   modalidad_trabajo     2152 non-null   int64
 4   distancia_oficina     2152 non-null   float64
 5   dias_baja_salud       2152 non-null   int64
 6   genero                2152 non-null   int64
 7   canal_reclutamiento   2152 non-null   int64
 8   permanencia_promedio  2152 non-null   int64
 9   fecha_nacimiento      2152 non-null   int64
 10  salario               2152 non-null   int64
 11  performance_score     2152 non-null   object
 12  psi_score             2152 non-null   int64
 13  fecha_incorporacion   2152 non-null   int64
 14  estado_civil          2152 non-null   int64
 15  abandono_6meses       2152 non-null   float64
dtypes: float64(2), int64(12), object(2)
memory usage: 285.8+ KB

/tmp/ipykernel_27558/38072265.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['id_ultimo_jefe'] = train['id_ultimo_jefe'].fillna('102091.00')
/tmp/ipykernel_27558/38072265.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['performance_score'] = train['performance_score'].fillna('65.00')

In [48]:
#Reemplazo las celdas nulas por la mediana de la caracteristica
test['id_ultimo_jefe'] = test['id_ultimo_jefe'].fillna('102089.0000')
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2020 entries, 0 to 2019
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_colaborador        2020 non-null   int64
 1   id_ultimo_jefe        2020 non-null   object
 2   seniority             2020 non-null   int64
 3   modalidad_trabajo     2020 non-null   int64
 4   distancia_oficina     2020 non-null   float64
 5   dias_baja_salud       2020 non-null   int64
 6   genero                2020 non-null   int64
 7   canal_reclutamiento   2020 non-null   int64
 8   permanencia_promedio  2020 non-null   int64
 9   fecha_nacimiento      2020 non-null   int64
 10  salario               2020 non-null   int64
 11  performance_score     2020 non-null   float64
 12  psi_score             2020 non-null   int64
 13  fecha_incorporacion   2020 non-null   int64
 14  estado_civil          2020 non-null   int64
dtypes: float64(2), int64(12), object(1)
memory usage: 252.5+ KB

In [49]:
test

,id_colaborador,id_ultimo_jefe,seniority,modalidad_trabajo,distancia_oficina,dias_baja_salud,genero,canal_reclutamiento,permanencia_promedio,fecha_nacimiento,salario,performance_score,psi_score,fecha_incorporacion,estado_civil
0,100486,102115.0,1,0,0.795,2,0,0,2,1208,181654,99.0,81,1328,2
1,103752,102074.0,1,0,1.715,1,1,0,1,1532,140986,97.0,75,1540,2
2,103937,102150.0,1,0,2.375,1,0,3,6,2577,406690,96.0,69,1312,2
3,101744,102172.0,1,0,2.185,3,0,2,3,3558,249107,95.0,73,1233,0
4,101037,102060.0,1,0,4.660,3,0,4,10,664,698318,95.0,81,994,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015,103755,102161.0,1,1,2.995,2,1,3,16,1826,700814,90.0,69,231,2
2016,103976,102171.0,1,1,2.775,0,1,3,5,2771,677071,93.0,66,1344,1
2017,104115,102144.0,1,1,3.990,1,0,3,7,655,876285,84.0,69,2179,2
2018,103920,102152.0,1,1,7.100,1,1,2,8,2721,719102,91.0,75,2358,2
2019,103151,102171.0,1,1,2.695,3,1,4,18,2307,898994,89.0,82,1339,0

# Utilizando Random forest como clasificador por defecto

In [50]:
# Separar las características y la etiqueta
X = train.iloc[:, :-1]
y = train.iloc[:, -1]

# Dividir el dataset en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Create a Random Forest classifier with 100 trees
rf_clf = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the classifier on the training set
rf_clf.fit(X_train, y_train)

# Predict the target variable for the test set
y_pred = rf_clf.predict(X_test)

# Print the confusion matrix
print("Confusion Matrix:")
print(confusion_matrix(y_test, y_pred))

# Print the classification report
print("\nClassification Report:")
print(classification_report(y_test, y_pred))


# Calculate and print the accuracy
accuracy = accuracy_score(y_test, y_pred)
print("\nAccuracy:", accuracy)

f1 = f1_score(y_test, y_pred)  # For multi-class classification, use 'weighted' averaging
print("\nF1 Score:", f1)

Confusion Matrix:
[[235 102]
 [109 200]]

Classification Report:
              precision    recall  f1-score   support

         0.0       0.68      0.70      0.69       337
         1.0       0.66      0.65      0.65       309

    accuracy                           0.67       646
   macro avg       0.67      0.67      0.67       646
weighted avg       0.67      0.67      0.67       646


Accuracy: 0.673374613003096

F1 Score: 0.6546644844517185

# Usar malla de búsqueda para encontrar los mejores hiperparámetros

In [52]:
rf_clf = RandomForestClassifier(random_state=42)

# Define the hyperparameter grid for grid search
param_grid = {
    'n_estimators': [10, 50, 100, 200],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Perform grid search
grid_search = GridSearchCV(estimator=rf_clf, param_grid=param_grid, cv=5, scoring='accuracy', n_jobs=-1, verbose=1)
grid_search.fit(X_train, y_train)

# Print the best hyperparameters and the corresponding mean cross-validation score
print("\nBest Hyperparameters:")
print(grid_search.best_params_)
print("\nBest Mean Cross-Validation Score:", grid_search.best_score_)

# Train the Random Forest classifier with the best hyperparameters
best_rf_clf = grid_search.best_estimator_
best_rf_clf.fit(X_train, y_train)

# Predict the target variable for the test set
y_pred = best_rf_clf.predict(X_test)

# Print the confusion matrix
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

# Print the classification report
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

# Calculate and print the accuracy
accuracy = accuracy_score(y_test, y_pred)
print("\nAccuracy:", accuracy)

Fitting 5 folds for each of 144 candidates, totalling 720 fits

Best Hyperparameters:
{'max_depth': 10, 'min_samples_leaf': 4, 'min_samples_split': 10, 'n_estimators': 200}

Best Mean Cross-Validation Score: 0.704510351807441

Confusion Matrix:
[[239  98]
 [100 209]]

Classification Report:
              precision    recall  f1-score   support

         0.0       0.71      0.71      0.71       337
         1.0       0.68      0.68      0.68       309

    accuracy                           0.69       646
   macro avg       0.69      0.69      0.69       646
weighted avg       0.69      0.69      0.69       646


Accuracy: 0.6934984520123839

# Mejor modelo de random Forest

## Predecir etiqueta con los datos del archivo "test_data" para submission

In [66]:
y_pred_submission = best_rf_clf.predict(test)

In [71]:
submission_data = {
    "ID":test["id_colaborador"],
    "abandono_6meses": y_pred_submission.astype(np.int64)
}

submission_df = pd.DataFrame(submission_data)
submission_df.to_csv("submission_data.csv",index=False)

In [72]:
submission_df

          ID  abandono_6meses
0     100486                0
1     103752                1
2     103937                1
3     101744                0
4     101037                0
...      ...              ...
2015  103755                1
2016  103976                1
2017  104115                1
2018  103920                1
2019  103151                0

[2020 rows x 2 columns]